@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello 😇</h1>
    <img src="https://i.redd.it/1o9ba9v57lk61.jpg" width="400" height="400" style="border-radius: 50%" alt="Doggo">
</div>
